.vs/MapLocator/v15/.suo
MapLocator.Data/obj/Debug/netcoreapp2.1/MapLocator.Data.dll
MapLocator.Data/obj/Debug/netcoreapp2.1/MapLocator.Data.pdb
MapLocator.Data/obj/Debug/netcoreapp2.1/MapLocator.Data.csproj.FileListAbsolute.txt
MapLocator.Data/obj/Debug/netcoreapp2.1/MapLocator.Data.csprojAssemblyReference.cache
MapLocator.Data/obj/Debug/netcoreapp2.1/MapLocator.Data.csproj.CoreCompileInputs.cache
MapLocator.Data/obj/Debug/netcoreapp2.1/MapLocator.Data.assets.cache
MapLocator.Data/obj/project.assets.json
MapLocator.Data/obj/MapLocator.Data.csproj.nuget.g.props
MapLocator.Data/obj/MapLocator.Data.csproj.nuget.cache
MapLocator.Data/bin/Debug/netcoreapp2.1/MapLocator.Data.runtimeconfig.dev.json
MapLocator.Data/bin/Debug/netcoreapp2.1/MapLocator.Data.deps.json
MapLocator.Data/bin/Debug/netcoreapp2.1/MapLocator.Data.pdb
MapLocator.Data/bin/Debug/netcoreapp2.1/MapLocator.Data.dll
.vs/MapLocator/v15/Server/sqlite3/db.lock
.vs/MapLocator/v15/Server/sqlite3/storage.ide-shm
.vs/MapLocator/v15/Server/sqlite3/storage.ide-wal
.vs/MapLocator/v15/Server/sqlite3/storage.ide
